<div class="col-md-6 user-container">
  <h2 class="text-center">Admin Menu</h2>
  <h2 class="text-center">Hello {{name}} !</h2>

  <label>Manage bike models: </label>
  <button class="btn btn-success" (click)="navigateToBikeList()"> Bike List</button>

  <label>Manage users: </label>
  <button class="btn btn-success" (click)="navigateToUserList()"> User List</button>

  <label>Manage transactions: </label>
  <button class="btn btn-success" (click)="navigateToTransactionList()"> Transaction List</button>

  <label>Manage manufacturers: </label>
  <button class="btn btn-success" (click)="navigateToManufacturerList()"> Manufacturer List</button>

  <label>Buy bikes yourself: </label>
  <button class="btn btn-success" (click)="navigateToUserMenu()"> User Menu</button>

</div>
