<div class="col-md-6 user-container">
  <h2 class="text-center">User Menu</h2>
  <h2 class="text-center">Hello {{name}} !</h2>

  <label>Buy bikes: </label>
  <button class="btn btn-success" (click)="navigateToBikeList()"> Bike List</button>

  <label>View bikes manufacturers: </label>
  <button class="btn btn-success" (click)="navigateToManufacturers()"> Manufacturer List</button>

  <label>Manage my user data: </label>
  <button class="btn btn-success" (click)="navigateToEditUser()"> Edit profile</button>

  <label>Show my transactions: </label>
  <button class="btn btn-success" (click)="navigateToTransactions()"> Transactions</button>


</div>
