<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../assets/bike.ico" width="50" height="50">
  <a class="navbar-brand" href="http://localhost:4200"> Bike shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<nav class="navbar navbar-expand-sm bg-success navbar-dark" *ngIf="currentUserIsAdmin">
  <div class="container">
    <a class="navbar-brand">Hi admin!</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="admin-menu">Admin Menu</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="user-menu">User Menu</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-bike-admin">Bikes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-transaction">Transactions</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-manufacturer">Manufacturers</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-user">Users</a></li>
      <li class="nav-item"><button class="btn btn-danger" style="width:100px" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-sm bg-success navbar-dark" *ngIf="currentUserIsUser">
  <div class="container">
    <a class="navbar-brand">Hi user!</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="user-menu">User Menu</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-bike">Bikes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-transaction-user">Transactions</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="list-manufacturer-user">Manufacturers</a></li>
      <li class="nav-item"><button class="btn btn-danger" style="width:100px" (click)="logout()">Logout</button></li>
    </ul>
  </div>
</nav>

<router-outlet  (activate)="changeOfRoutes()"></router-outlet>
