<div class="col-md-6 user-container">
  <h2 class="text-center">Add Manufacturer</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="origin">Origin:</label>
      <input type="text" formControlName="origin" placeholder="origin" name="origin" class="form-control" id="origin">
    </div>

    <div class="form-group">
      <label for="founded">Founded:</label>
      <input formControlName="founded" placeholder="founded" name="founded" class="form-control" id="founded">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
