<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Manufacturer Details</h2>
  <button class="btn btn-danger" style="width:150px" (click)="addManufacturer()"> Add Manufacturer</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Origin</th>
      <th>Founded</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let manufacturer of manufacturers">
      <td class="hidden">{{manufacturer.id}}</td>
      <td>{{manufacturer.name}}</td>
      <td>{{manufacturer.origin}}</td>
      <td>{{manufacturer.founded}}</td>
      <td><button class="btn btn-success" (click)="deleteManufacturer(manufacturer)"> Delete</button>
        <button class="btn btn-success" (click)="editManufacturer(manufacturer)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
